name: Terraform Deployment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select the environment to deploy'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - prod


permissions:
  contents: read
  id-token: write

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
      TF_VAR_container_image: ${{ secrets.CONTAINER_IMAGE }}
      TF_VAR_database_url: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Set Up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: environments/${{ github.event.inputs.environment }}
      - name: Terraform destroy
        run: terraform destroy -auto-approve
        working-directory: environments/${{ github.event.inputs.environment }}

      - name: Terraform Plan
        run: terraform plan -input=false
        working-directory: environments/${{ github.event.inputs.environment }}

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
        working-directory: environments/${{ github.event.inputs.environment }}

      
